<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"></link> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"></link> 
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
        <div class="container-fluid align-items-center">
          <h1 class="logo mb-0">
            <a class="navbar-brand" href="#">
              <img class="align-middle" src="./assets/images/logo.png" alt="logo img">
            </a>
          </h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav fw-bold">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">最新消息</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">自行車路線</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">單車租借</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">騎乘小叮嚀</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-warning" href="#">登入</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <%- contents %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha.min.js" integrity="sha512-/yIGjYJZIXZx10ig0yhbK41OiwcqBUxIj0xQJe+NwkMIdS/u07b6Mwo0nvXB4o7A6WiKnKOf92JwE5Ezo27u9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>